# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environment
.venv/
env/
venv/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Project data (don’t push raw frames or outputs)
data/frames/
data/warped_frames/
data/processed/
overlays/
data/occupancy/

# YOLO / model weights (large binary files)
*.pt

# Logs
*.log

